.print-button{
    position: fixed;
    z-index: 1;
    top:100px;
    right:5%;
}
.print-icon{
    font-size:50px;
}
@media only screen and (max-width: 600px) {
    .print-icon{
        font-size:30px;
    }
    .print-button{
        position: fixed;
        z-index: 1;
        bottom:0;
        right:0;
        top:93%;
        width:100%;
    }
  }