.printBtn {
    width: 100%;
}

.card-content {
    background-color: aliceblue;
}

.nr-input {
    width: 30px;
}

@media only screen and (min-width: 600px) {
    .doc-label {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
    }
}
