<p class="buletin">
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>CNP / CUI</mat-label>
        <input matInput placeholder="CNP / CUI">
    </mat-form-field>
    <mat-form-field class="mat-card-input medium-input" appearance="outline">
        <mat-label>Serie CI</mat-label>
        <input matInput placeholder="Serie CI">
    </mat-form-field>
    <mat-form-field class="mat-card-input medium-input" appearance="outline">
        <mat-label>Numar CI</mat-label>
        <input matInput placeholder="Numar CI">
    </mat-form-field>
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Emis de</mat-label>
        <input matInput placeholder="Emis de">
    </mat-form-field>
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Data emitere</mat-label>
        <input matInput [matDatepicker]="dataEmitere">
        <mat-datepicker-toggle matSuffix [for]="dataEmitere"></mat-datepicker-toggle>
        <mat-datepicker #dataEmitere></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Data nastere</mat-label>
        <input matInput [matDatepicker]="dataNastere">
        <mat-datepicker-toggle matSuffix [for]="dataNastere"></mat-datepicker-toggle>
        <mat-datepicker #dataNastere></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Loc nastere</mat-label>
        <input matInput placeholder="Loc nastere">
    </mat-form-field>
</p>