.material-icons {
    vertical-align: sub;
}
.menu-item {
    &:hover {
        cursor: pointer;
    }
}
.logo {
    max-height: 100%;
}
.card-content {
    margin: 20px;
}
.mat-card-input {
    margin: 5px;
    text-transform: uppercase;

    &.small-input {
        width: 60px;
    }

    &.medium-input {
        width: 90px;
    }
}
input {
    text-transform: uppercase;
}

// Angular Material snackBar

.snackBar-default {
    white-space: pre-wrap;
    color: $snackBar-default-color !important;
}

.snackBar-success {
    white-space: pre-wrap;
    background-color: $snackBar-success-color !important;
    color: $snackBar-default-color;
}

.snackBar-warning {
    white-space: pre-wrap;
    background-color: $snackBar-warning-color !important;
    color: $snackBar-default-color !important;
}

.snackBar-error {
    white-space: pre-wrap;
    background-color: $snackBar-error-color !important;
    color: $snackBar-default-color;
}
