.material-icons {
    vertical-align: sub;
}
.menu-item {
    &:hover {
        cursor: pointer;
    }
}
.logo {
    max-height: 100%;
}
.card-content {
    margin: 20px;
}
.mat-card-input {
    margin: 5px;

    &.small-input {
        width: 60px;
    }

    &.medium-input {
        width: 90px;
    }
}


