.login-button {
    height: 50px;
    line-height: 50px;
    width: 100%;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    transition: opacity ease 0.5s;
    border-radius: 5px;
    position: relative;
    background: rgba(255, 255, 255, 1);
    transition: background 0.3s;
  
    span {
      position: relative;
    }
  
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      opacity: 0;
    }
  
    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }
  }