<p class="info">
    <mat-form-field class="mat-card-input" appearance="outline" *ngIf="selectedDocs.includes('Impunere Primărie')">
        <mat-label>Nume</mat-label>
        <input matInput placeholder="Nume">
    </mat-form-field>
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="Email">
    </mat-form-field>
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Telefon</mat-label>
        <input matInput placeholder="Telefon" (keypress)="onlyNumbers($event)">
    </mat-form-field>
</p>