<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <span (click)="snav.toggle()" class="material-icons menu-item p5-r">menu</span>
    <span (click)="goToActe()" class="menu-item">Acte Auto</span>
    <span class="fill-remaining-space"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="material-icons p5-r">account_box</span>
      {{userName}}
    </button>
    <mat-menu #userMenu="matMenu" xPosition="after">
      <span mat-menu-item (click)="logout()">Logout</span>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list *ngFor="let document of documents">
        <a mat-list-item routerLink="acte">{{document}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>