<div class="layout-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="layout-toolbar">
    <span (click)="snav.toggle()" class="material-icons menu-item p5-r">menu</span>
    <button mat-button [matMenuTriggerFor]="apps">
      <span class="material-icons p5-r">apps</span>
    </button>
    <mat-menu #apps="matMenu" xPosition="after">
      <a mat-menu-item href="https://trad.ro/tickets" target="_blank"><b>TRAD.RO</b></a>
      <a mat-menu-item target="blank" href="https://rca.itp.ro/dashboard.php"><b>SMS<span> RCA</span> ITP</b></a>
      <a mat-menu-item href="https://www.drpciv.ro/drpciv-booking/activities/35" target="_blank"><b>D.R.P.C.I.V</b></a>
      <a mat-menu-item href="https://plata.dfmt.ro/Plata/aspx/menu/declaratie_online.aspx"
        target="_blank"><b>D.F.M.T</b></a>
      <a mat-menu-item href="https://pro.rarom.ro/programari.asp" target="_blank"><b>R.A.R</b></a>
    </mat-menu>
    <span class="fill-remaining-space"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <span class="material-icons p5-r">account_box</span>
      {{userName}}
    </button>
    <mat-menu #userMenu="matMenu" xPosition="after">
      <span mat-menu-item (click)="logout()">Logout</span>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-selection-list #list [(ngModel)]="selectedOptions" (ngModelChange)="onNgModelChange()">
        <mat-list-option *ngFor="let document of documents" [value]="document">
          {{document}}
        </mat-list-option>
      </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>