<div *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
    <mat-card class="card-content">
        <mat-card-header>
            <mat-card-title>Vânzător</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div [formGroup]="form">
                <div class="info">
                    <mat-form-field class="mat-card-input" appearance="outline"
                        *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                        <mat-label>Nume</mat-label>
                        <input matInput placeholder="Nume" formControlName="nume">
                    </mat-form-field>
                    <mat-form-field class="mat-card-input" appearance="outline" *ngIf="checkSelectedDocs([''])">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" placeholder="Email" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="mat-card-input" appearance="outline" *ngIf="checkSelectedDocs([''])">
                        <mat-label>Telefon</mat-label>
                        <input matInput placeholder="Telefon" formControlName="telefon"
                            (keypress)="onlyNumbers($event)">
                    </mat-form-field>
                </div>
                <div class="adresa">
                    <div formGroupName="adresa">
                        <mat-form-field class="mat-card-input" appearance="outline"
                            *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                            <mat-label>Județ</mat-label>
                            <mat-select formControlName="judet">
                                <mat-option *ngFor="let judet of judete" [value]="judet">
                                    {{judet}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="mat-card-input" appearance="outline"
                            *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                            <mat-label>Localitate</mat-label>
                            <mat-select formControlName="localitate">
                                <mat-option *ngFor="let localitate of localitati" [value]="localitate">
                                    {{localitate}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="mat-card-input" appearance="outline"
                            *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                            <mat-label>Strada</mat-label>
                            <input matInput placeholder="Strada" formControlName="strada">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input small-input" appearance="outline"
                            *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                            <mat-label>Nr</mat-label>
                            <input matInput placeholder="Nr" formControlName="numar" (keypress)="onlyNumbers($event)">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input small-input" appearance="outline"
                            *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                            <mat-label>Bl</mat-label>
                            <input matInput placeholder="Bl" formControlName="bloc">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input small-input" appearance="outline"
                            *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                            <mat-label>Sc</mat-label>
                            <input matInput placeholder="Sc" formControlName="scara">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input small-input" appearance="outline"
                            *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                            <mat-label>Et</mat-label>
                            <input matInput placeholder="Et" formControlName="etaj" (keypress)="onlyNumbers($event)">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input small-input" appearance="outline"
                            *ngIf="checkSelectedDocs(['Fișă Înmatriculare'])">
                            <mat-label>Ap</mat-label>
                            <input matInput placeholder="Ap" formControlName="apartament"
                                (keypress)="onlyNumbers($event)">
                        </mat-form-field>
                    </div>
                </div>
                <div class="buletin">
                    <div formGroupName="buletin">
                        <mat-form-field class="mat-card-input" appearance="outline" *ngIf="checkSelectedDocs([''])">
                            <mat-label>CNP / CUI</mat-label>
                            <input matInput placeholder="CNP / CUI" formControlName="cnp"
                                (keypress)="onlyNumbers($event)">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input medium-input" appearance="outline"
                            *ngIf="checkSelectedDocs([''])">
                            <mat-label>Serie CI</mat-label>
                            <input matInput placeholder="Serie CI" formControlName="serie">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input medium-input" appearance="outline"
                            *ngIf="checkSelectedDocs([''])">
                            <mat-label>Număr CI</mat-label>
                            <input matInput placeholder="Numar CI" formControlName="numar"
                                (keypress)="onlyNumbers($event)">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input" appearance="outline" *ngIf="checkSelectedDocs([''])">
                            <mat-label>Emis de</mat-label>
                            <input matInput placeholder="Emis de" formControlName="emisDe">
                        </mat-form-field>
                        <mat-form-field class="mat-card-input" appearance="outline" *ngIf="checkSelectedDocs([''])">
                            <mat-label>Dată emitere</mat-label>
                            <input matInput [matDatepicker]="dataEmitere" formControlName="dataEmitere">
                            <mat-datepicker-toggle matSuffix [for]="dataEmitere"></mat-datepicker-toggle>
                            <mat-datepicker #dataEmitere></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="mat-card-input" appearance="outline"
                            *ngIf="selectedDocs.includes('Fișă Înmatriculare')">
                            <mat-label>Dată naștere</mat-label>
                            <input matInput [matDatepicker]="dataNastere" formControlName="dataNastere">
                            <mat-datepicker-toggle matSuffix [for]="dataNastere"></mat-datepicker-toggle>
                            <mat-datepicker #dataNastere></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="mat-card-input" appearance="outline" *ngIf="selectedDocs.includes('')">
                            <mat-label>Loc naștere</mat-label>
                            <input matInput placeholder="Loc nastere" formControlName="locNastere">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>