<p class="adresa">
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Judet</mat-label>
        <mat-select>
            <mat-option *ngFor="let judet of judete" [value]="judet">
                {{judet}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Localitate</mat-label>
        <mat-select>
            <mat-option *ngFor="let localitate of localitati" [value]="localitate">
                {{localitate}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="mat-card-input" appearance="outline">
        <mat-label>Strada</mat-label>
        <input matInput placeholder="Strada">
    </mat-form-field>
    <mat-form-field class="mat-card-input small-input" appearance="outline">
        <mat-label>Nr</mat-label>
        <input matInput placeholder="Nr" (keypress)="onlyNumbers($event)">
    </mat-form-field>
    <mat-form-field class="mat-card-input small-input" appearance="outline">
        <mat-label>Bl</mat-label>
        <input matInput placeholder="Bl">
    </mat-form-field>
    <mat-form-field class="mat-card-input small-input" appearance="outline">
        <mat-label>Sc</mat-label>
        <input matInput placeholder="Sc">
    </mat-form-field>
    <mat-form-field class="mat-card-input small-input" appearance="outline">
        <mat-label>Et</mat-label>
        <input matInput placeholder="Et" (keypress)="onlyNumbers($event)">
    </mat-form-field>
    <mat-form-field class="mat-card-input small-input" appearance="outline">
        <mat-label>Ap</mat-label>
        <input matInput placeholder="Ap" (keypress)="onlyNumbers($event)">
    </mat-form-field>
</p>